/* ------------ */
/* Header */
/* ------------ */
.header {
  padding: 0 6.4rem;
  height: 9.6rem;
  /* height: 15vh; */
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  align-items: center;
}

.main-nav-lists {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.main-nav-list:link,
.main-nav-list:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  padding: 0.8rem;

  transition: all 0.3s linear;
}

.main-nav-list:active,
.main-nav-list:hover {
  color: #7a68d7;
}

.main-nav-list--hover:active,
.main-nav-list--hover:hover {
  box-shadow: 0 0.5rem 0.4rem -0.4rem rgba(123, 104, 215, 0.7);
}

.logo:link,
.logo:visited {
  text-transform: capitalize !important;
  font-family: "Berkshire Swash";
  font-size: 2.4rem !important;
  padding: 1.2rem 1.2rem;

  justify-self: left;

  position: relative;
}

.logo:hover,
.logo:active {
  transition-delay: 1.25s;
  color: #caae54;
}

@keyframes circular-rotation--before--link {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes circular-rotation--before--hover {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes circular-rotation--after--link {
  0% {
    border-bottom: 0.2rem solid #f9f9f9;
  }

  20% {
    border-bottom: 0.2rem solid #f9f9f9;
  }

  40% {
    border-bottom: 0.2rem solid #f9f9f9;
  }

  80% {
    border-bottom: 0.2rem solid #f9f9f9;
    transform: rotate(75deg);
  }

  100% {
    border-bottom: 0.2rem solid #333;
    transform: rotate(0deg);
  }
}

@keyframes circular-rotation--after--hover {
  0% {
    border-bottom: 0.2rem solid #f9f9f9;
  }

  20% {
    border-bottom: 0.2rem solid #f9f9f9;
  }

  40% {
    border-bottom: 0.2rem solid #f9f9f9;
  }

  80% {
    border-bottom: 0.2rem solid #f9f9f9;
    transform: rotate(-75deg);
  }

  100% {
    border-bottom: 0.2rem solid #caae54;
    transform: rotate(0deg);
  }
}

.logo::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;

  border-top: 0.2rem solid #333;
  border-radius: 9rem;

  animation-name: circular-rotation--before--link;
  animation-duration: 0.75s;
  animation-iteration-count: 2;
  animation-timing-function: ease-out;

  transition: all 0.3s linear;
}

.logo::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  bottom: 0;

  border-bottom: 0.2rem solid #333;
  border-radius: 9rem;

  /* animation-name: circular-rotation--before--hover; */
  animation-name: circular-rotation--after--link;
  animation-duration: 1.5s;
  /* animation-delay: 1s; */

  transition: all 0.3s linear;
}

.logo:hover.logo::before {
  animation-name: circular-rotation--before--hover;
  animation-duration: 0.75s;
  animation-iteration-count: 2;
  animation-timing-function: ease-out;

  border-top: 0.2rem solid #caae54;
}

.logo:hover.logo::after {
  animation-name: circular-rotation--after--hover;
  animation-duration: 1.5s;
  /* animation-delay: 1s; */

  border-bottom: 0.2rem solid #caae54;
}

.icon--contact {
  color: #7a68d7;
  padding: 1.2rem;
  background-color: #fff;
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.10);
  border-radius: 50%;
}

.main-nav-list--last {
  justify-self: right;
}

@keyframes contact-icon-animation {
  0% {
    transform: rotate(0deg) scale(1.1);
  }

  20% {
    transform: rotate(20deg) scale(1.1);
  }

  40% {
    transform: rotate(-25deg) scale(1.1);
  }

  60% {
    transform: rotate(20deg) scale(1.1);
  }

  80% {
    transform: rotate(-20deg) scale(1.1);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

.main-nav-list--last:hover .icon--contact {
  animation-name: contact-icon-animation;
  animation-duration: 1s;
}

/* ------------ */
/* Hero Section */
/* ------------ */

.section-hero {
  /* height: 85vh; */
  background-color: #f9f9f9;
  padding-top: 4.8rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 45fr 55fr;
  /* align-items: center; */
}

.hero-text-box-heading {
  position: relative;
}

.hero-text-box .heading-primary {
  margin-top: 3.2rem;
  z-index: 2;
}

@keyframes bouncing-ball {
  0% {
    transform: translate(50%, -200%);
  }

  25% {
    transform: translate(50%, -40%);
  }

  38% {
    transform: translate(35%, -90%);
  }

  60% {
    transform: translate(20%, -120%);
  }

  82% {
    transform: translate(5%, -90%);
  }

  100% {
    transform: translate(-10%, -40%);
  }
}

.hero-text-box-heading::before {
  content: "";
  display: block;
  width: 20%;
  padding-bottom: 20%;
  border-radius: 50%;
  background: linear-gradient(155deg,
      rgba(252, 218, 105, 0.25),
      rgba(240, 140, 0, 0.75));
  /* background: linear-gradient(155deg,rgba(77, 171, 247, 0.5),#6741d9); */
  /* background: linear-gradient(155deg, rgba(149, 134, 223, 0.25), rgba(98, 83, 172, 0.75)); */

  box-shadow: 0 .4rem 0.8rem rgba(0, 0, 0, 0.15);

  position: absolute;
  top: 0;
  right: 40%;
  transform: translate(-10%, -40%);

  z-index: 1;

  animation-name: bouncing-ball;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

.hero-text {
  display: flex;
  column-gap: 1.6rem;
}

.hero-description-prefix {
  font-size: 3rem;
}

.hero-description {
  font-size: 1.8rem;
  font-weight: 500;
  max-width: 50ch;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.profile-links {
  margin: 9.6rem 0 8rem 0;

  display: flex;
  column-gap: 2.4rem;
  align-items: center;
}

.profile-links--text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}

.icon--link:link,
.icon--link:visited {
  color: #333;
  padding: 1.2rem;
  border-radius: 50%;
  background-color: #eaeaea;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.10);
}

.icon--link:active,
.icon--link:hover {
  color: #fff;
  background-color: #7a68d7;
  box-shadow: 0 0 2.4rem rgba(123, 104, 215, 0.80);
}

.icon--link:active .icon,
.icon--link:hover .icon {
  transform: scale(1.1);
}

.hero-img-box {
  align-self: end;

  display: flex;
  justify-content: center;

  position: relative;

  overflow: hidden;
}

.hero-img {
  width: 60%;

  z-index: 4;
}


.hero-img-box::before {
  content: "";
  display: block;
  width: 65%;
  padding-bottom: 90%;
  border-radius: 50%;
  /* background: linear-gradient(155deg, rgba(252, 218, 105, 0.75),#f08c00); */
  /* background: linear-gradient(155deg,rgba(77, 171, 247, 0.5),#6741d9); */
  background: linear-gradient(155deg, rgba(175, 164, 231, 0.25), #6253ac);

  position: absolute;
  bottom: 0;
  /* left: 0%; */
  left: 50%;
  /* transform: translate(-0%, 20%); */
  transform: translate(-50%, 20%);

  z-index: 3;
}

@keyframes hero-img-overview-animation {
  0% {
    transform: translate(-150%, -25%);
  }

  50% {
    transform: translate(16%, -25%);
  }

  100% {
    transform: translate(-8%, -25%);
  }
}


.hero-img-overview {
  padding: 1.6rem 3.6rem;
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  background-color: #f9f9f9;

  position: absolute;
  top: 25%;
  left: 8%;
  transform: translate(-8%, -25%);

  animation-name: hero-img-overview-animation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;

  z-index: 5;

  overflow: hidden;
}

.hero-img-overview .container-formatting {
  margin-bottom: 0.8rem;
}

.hero-img-overview-icon {
  height: 2rem;
  width: 2rem;
  padding: 0.4rem;
  border-radius: 50%;
  background-color: #f03e3e;
  fill: #fff;
}

.hero-img-overview-title {
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
}

.hero-img-overview-count {
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.hero-img-overview-count span {
  color: #8873ef;
  font-weight: 600;
}

.hero-img-overview-percentage {
  font-size: 1rem;
}

.hero-img-overview-percentage span {
  color: #37b24d;
  font-weight: 600;
}

.hero-img-overview::before {
  content: "";
  display: block;
  width: 20%;
  padding-bottom: 20%;
  border-radius: 50%;
  /* background: linear-gradient(155deg, rgba(252, 218, 105, 0.75),#f08c00); */
  /* background: linear-gradient(155deg,rgba(77, 171, 247, 0.5),#6741d9); */
  background: linear-gradient(155deg, rgba(175, 164, 231, 0.25), rgba(98, 83, 172, 0.65));

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-35%, -35%);

  z-index: -1;
}

.hero-img-overview::after {
  content: "";
  display: block;
  width: 12%;
  padding-bottom: 12%;
  border-radius: 10%;
  border: 3.5px solid rgba(230, 119, 0, 0.55);

  position: absolute;
  bottom: -8%;
  right: 5%;
  transform: translate(-5%, 0) rotate(33deg);

  z-index: -1;
}

.hero-img-overview-circle {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  border: 3px solid rgba(255, 213, 59, 0.40);
  /* border: 3px solid rgba(240, 62, 62, 0.25); */

  position: absolute;
  top: 15%;
  right: 15%;
}
